.facility-section {
  background: var(--surface-mute);
  padding: var(--large-ultimate) var(--side-gutter);
}

.facility-section svg {
  fill: var(--neutral);
}

.facility-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.facility-cards {
  width: 256px;
  position: relative;
}

.facility-cards img {
  box-shadow: var(--drop-shadow);
}

.facility-card-description {
  padding: var(--small-extra) 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: var(--surface-gradient-vertical);
  border-top: 2px solid;
}
