/* Text-size styles */
.heading-1 {
    font-size: var(--heading---heading-1);
    font-weight: 600;
    line-height: var(--heading---heading-1);
}

.heading-2 {
    font-size: var(--heading---heading-2);
    font-weight: 500;
    line-height: var(--heading---heading-2);
}

.text-large-bold {
    font-size: var(--text---large--bold);
    font-weight: 500;
    line-height: 1.25rem;
}

.text-large {
    font-size: var(--text---large);
    font-weight: 400;
    line-height: 1.25rem;
}

.text-medium {
    font-size: var(--text---medium);
    font-weight: 400;
    line-height: 1.125rem;
}

.text-medium-bold {
    font-size: var(--text---medium--bold);
    font-weight: 500;
    line-height: 1.125rem;
}

.text-small {
    font-size: var(--text---small);
    font-weight: 400;
    line-height: 1rem;
}

.text-small-bold {
    font-size: var(--text---small--bold);
    font-weight: 500;
    line-height: 1rem;
}

.text-small-extra {
    font-size: var(--text---small-extra);
    font-weight: 400;
    line-height: 0.875rem;
}

.text-small-extra-bold {
    font-size: var(--text---small-extra--bold);
    font-weight: 500;
    line-height: 0.875rem;
}
