/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #57606f;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

li {
  list-style-type: none;
}

a {
  color: var(--surface-dim);
  text-decoration: none;
}

svg {
  fill: var(--surface);
}

.fix-white-space {
  font-size: 0;
}

.separator-gradient {
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(43, 43, 43, 0.6) 15%,
    #666666 50%,
    rgba(43, 43, 43, 0.6) 84.5%,
    rgba(0, 0, 0, 0) 100%
  );
}
