/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #57606f;
}

.main-nav {
  background: linear-gradient(
    180deg,
    var(--red) 0%,
    #6a0000 40%,
    var(--red-dim) 100%
  );

  display: flex;
  max-height: 164px;
  justify-content: space-between;
  padding: var(--large-ultimate) var(--side-gutter);
}

.left-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--small);
}

.primary-links {
  display: inline;
}

.primary-links > .nav-links {
  border-right: 1px solid var(--surface-shade);
  padding: var(--small) var(--large);
  display: inline-block;
}

li {
  list-style-type: none;
}

.nav-links a {
  color: var(--surface-dim);
  text-decoration: none;
  padding-right: var(--small-extra);
}

.nav-links span {
  vertical-align: bottom;
}

.right-section {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: var(--large-extra);
}

.right-section li {
  color: var(--surface);
  display: inline;
}

.right-section > li:first-child {
  padding-right: var(--small);
}

.secondary-group {
  background-color: var(--red-dim);
}

.secondary-group li:first-child {
  border-top-left-radius: var(--rounded-normal);
  border-bottom-left-radius: var(--rounded-normal);
}

.search-form {
  background-color: var(--red-shade);
  padding: var(--small) var(--medium);
  border-top-right-radius: var(--rounded-normal);
  border-bottom-right-radius: var(--rounded-normal);
}
.search-form input {
  width: 92px;
  background-color: var(--red-shade);
  border: none;
}

.search-form input::placeholder {
  color: var(--surface);
}
