.facility-section {
  background: var(--surface);
}

.facility-cards-wrapper {
  max-width: 350px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--medium);
}

.facility-cards {
  position: relative;
}

.facility-cards img {
  box-shadow: var(--drop-shadow);
  width: 100%;
}

.facility-card-description {
  padding: var(--small-extra) 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: var(--surface-gradient-vertical);
  border-top: 2px solid;
}

/* Responsive */

/* @media (min-width: 475px) { } */
/* @media (min-width: 640px) { } */

@media (min-width: 768px) {
  .facility-cards-wrapper {
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* @media (min-width: 1024px) { } */

@media (min-width: 1280px) {
  .facility-cards-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

/* @media (min-width: 1536px) { } */
