.gallery-section {
  background: var(--surface);
}

.gallery-section-wrapper {
  max-width: 550px;
  margin: 0 auto;
}

.section__images {
  position: relative;
  overflow: hidden;
}

.image-wrapper {
  display: flex;
  gap: var(--large-ultimate);
  transition: transform 2500ms ease-in-out;
}

.gallery__btn {
  background-color: var(--surface-shade);
  border: none;
  border-radius: 50%;
  height: 36px;
  width: 30px;
  position: absolute;
  top: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gallery__btn--left {
  left: 0;
  transform: translate(-100%, -50%);
  transition: transform 2000ms ease-in;
}

.gallery__btn--right {
  right: 0;
  transform: translate(0%, -50%);
  transition: transform 2000ms ease-in;
}

/* Responsive */

/* @media (min-width: 475px) { } */
/* @media (min-width: 640px) { } */
@media (min-width: 768px) {
  .gallery-section-wrapper {
    max-width: 1200px;
  }
}
/* @media (min-width: 1024px) { } */
/* @media (min-width: 1280px) { } */
/* @media (min-width: 1536px) { } */
