/* Carousel */
.slider {
  height: 250px;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.slide {
  position: absolute;
  z-index: -2;
}

.slider__btn {
  height: 36px;
  width: 36px;
  position: absolute;
  background-color: var(--surface-shade);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  top: 47%;
}

.slider__btn--left {
  left: 7%;
  transform: translateX(-50%);
}

.slider__btn--right {
  right: 7%;
  transform: translateX(50%);
}

.dots {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 100%;
}

.dots__dot {
  height: 14px;
  width: 14px;
  margin: 0 5px;
  background: none;
  border: 1px solid var(--surface);
  border-radius: 50%;
  cursor: pointer;
}

.dots__dot:last-child {
  margin-right: 0;
}

.dots__dot--active {
  background: var(--surface);
  opacity: 1;
}

.image-info {
  position: absolute;
  bottom: var(--small-extra);
  right: var(--small-extra);
  cursor: pointer;
}

.image-info:hover::before {
  content: attr(data-desc);
  display: block;
  position: absolute;
  width: max-content;
  right: 0;
  bottom: 0;
  background: rgba(20, 20, 20, 0.5);
  color: var(--surface);
  font-size: var(--text---small-extra);
  padding: var(--small) var(--side-gutter) var(--small) var(--medium);
  border-radius: var(--rounded-normal);
  z-index: -1;
}

.swap-on-hover use:first-child,
.swap-on-hover:hover use:last-child {
  display: none;
}

.swap-on-hover:hover use:first-child {
  display: block;
}

.hero-text {
  background: var(--red-gradient-inverted);
  color: var(--surface);
  font-size: var(--headaing---heading-2);
  width: 100%;
  padding: var(--large-ultimate) var(--side-gutter);
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* Responsive */

/* @media (min-width: 475px) { } */
/* @media (min-width: 640px) { } */

@media (min-width: 768px) {
  .slider {
    height: 350px;
  }

  .slider__btn--left {
    left: 3%;
  }

  .slider__btn--right {
    right: 3%;
  }
}

/* @media (min-width: 1024px) { } */
@media (min-width: 1280px) {
  .slider {
    height: 550px;
  }
}
/* @media (min-width: 1536px) { } */
