.search {
  background: var(--red-gradient);
  display: flex;
  justify-content: center;
}

.search-form-large {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  gap: var(--small);
}

#search-input {
  width: 100%;
  background-color: var(--surface);
  color: var(--surface-shade);
  padding: var(--small) var(--large);
  border: 1px solid var(--neutral);
  border-radius: var(--rounded-normal);
  outline: none;
}

.btn-submit {
  padding: var(--small) var(--large);
  background-color: var(--red-shade);
  color: var(--surface);
  border-radius: var(--rounded-normal);
  border: none;
  cursor: pointer;
  line-height: 1;
  letter-spacing: 0.5px;
}
