.testimonial-section {
  background: var(--red-gradient);
  color: var(--surface);
}

.testimonial__heading {
  text-align: center;
  padding-top: var(--large);
  padding-bottom: var(--large-ultimate);
}

.testimonial-cards {
  display: grid;
  grid-template-columns: auto;
  gap: var(--large);
  max-width: 350px;
  margin: 0 auto;
}

.testimonial-card {
  background-color: var(--red-muted);
  border-radius: var(--rounded-normal);
  box-shadow: var(--drop-shadow);
  padding: var(--medium);
}

.review-icons {
  margin-bottom: var(--medium);
}

.review > p {
  margin-bottom: var(--small);
}

.review-author {
  text-align: right;
}

.review-author p:first-child {
  margin-bottom: var(--small-extra);
}

/* Responsive */

/* @media (min-width: 475px) { } */
/* @media (min-width: 640px) { } */

@media (min-width: 768px) {
  .testimonial-cards {
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: var(--large);
  }
}

/* @media (min-width: 1024px) { } */

@media (min-width: 1280px) {
  .testimonial-cards {
    max-width: 1200px;
    gap: var(--large-ultimate);
  }
}

/* @media (min-width: 1536px) { } */
