.breadcrumb {
  background-color: var(--surface);
  padding-top: var(--small);
  padding-bottom: var(--large-extra);
}

.breadcrumb svg {
  vertical-align: bottom;
}

.breadcrumb-link {
  display: inline;
}

.breadcrumb-link a {
  color: var(--neutral);
}

.breadcrumb-link:first-child a {
  color: var(--red);
}

.breadcrumb-link:first-child svg {
  fill: var(--red);
}
