@import "/src/styles/base.css";
@import "/src/styles/components/header-type-1.css";
@import "/src/styles/components/mobile-nav.css";
@import "/src/styles/components/search.css";
@import "/src/styles/components/footer.css";

main {
  background-color: var(--surface);
}

.search-area,
.results-area {
  width: 100%;
  max-width: 800px;
}
.search-area {
  padding-block: var(--large);
}
.search-area > h1 {
  margin-bottom: var(--large);
}
.results-area {
  padding: var(--large) 0;
}
.search-tab {
  display: flex;
  gap: var(--medium);
  border-bottom: 1px solid var(--neutral);
}
.search-tab > li {
  padding: var(--small-extra) var(--medium);
  color: var(--surface-shade);
}
.search-tab > li.active {
  border: 1px solid var(--neutral);
  border-bottom: none;
  border-top-left-radius: var(--rounded-normal);
  border-top-right-radius: var(--rounded-normal);
  color: var(--neutral);
}
.result-link {
  margin-bottom: var(--large);
}
.link-large {
  display: block;
  color: #2f72a8;
  margin-top: var(--medium);
}
.link-small {
  color: #299429;
}
.link-text {
  color: var(--neutral);
  padding-bottom: var(--large-extra);
  border-bottom: 1px solid var(--surface-shade);
}

/* Pagination */
.pagination {
  margin: var(--large-extra) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--large-extra);
}
.pagination-btn {
  padding: var(--small);
  border: none;
  border-radius: var(--rounded-normal);
  background-color: var(--red-dim);
  color: var(--surface);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--small-extra);
}

/*============ Media querry ==============*/
