.blogs-events-section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: var(--large-ultimate) var(--side-gutter);
  background-color: var(--surface-dim);
}

.blogs-section {
  grid-column-start: 1;
  grid-column-end: 7;
}

.section__title {
  padding: var(--medium) 0;
  margin-bottom: var(--large);
}
.section__title * {
  display: inline;
}

.section__title > h2 {
  color: var(--neutral);
}

.section__title > p {
  border-left: 1px solid var(--surface-mute);
  padding-left: var(--small);
  margin-left: var(--small);
  color: var(--red-dim);
}

.blogs-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--large-ultimate);
  color: var(--neutral);
}

.blog-card-title {
  padding-top: var(--medium);
  padding-bottom: var(--small-extra);
}

.events-section {
  grid-column-start: 7;
  grid-column-end: -1;
}
