.footer {
  background: var(--red-dim);
  color: var(--surface);
}

.social-media,
.footer__links,
.footer__nav {
  max-width: 450px;
  margin: 0 auto;
}

.social-media {
  display: flex;
  align-items: center;
  gap: var(--large-extra);

  padding-top: var(--large-extra);
  padding-bottom: var(--large-extra);
}

.footer__links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--large-ultimate);
  padding-bottom: var(--large-ultimate);
}

.footer__links li {
  padding-bottom: var(--small-extra);
}

.footer-link-container {
  border-right: none;
  padding-right: var(--large);
}

.footer-link-container:last-child {
  border-right: none;
}

.footer-content-wrapper {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: var(--large-ultimate);
  padding-right: 0;
  border-right: none;
}

.footer-content-wrapper > :not(:first-child),
.footer-link-container > * {
  padding-top: var(--small-extra);
  padding-bottom: var(--small);
}

.logo__footer {
  width: 100px;
  grid-row: 1 / span 2;
  place-self: center;
}

.location-wrapper {
  display: flex;
  gap: var(--small-extra);
}

.footer-link-container svg {
  vertical-align: bottom;
}

.footer__nav,
.footer__nav ul {
  display: flex;
  gap: var(--medium);
  flex-wrap: wrap;
}

.footer__nav p {
  color: var(--surface-mute);
}

.footer__nav {
  padding-top: var(--large-extra);
}

/* Responsive */

/* @media (min-width: 475px) { } */
/* @media (min-width: 640px) { } */

@media (min-width: 768px) {
  .social-media,
  .footer__links,
  .footer__nav {
    max-width: 1200px;
  }

  .footer__links {
    flex-direction: row;
  }

  .footer-content-wrapper {
    border-right: none;
  }

  .footer-link-container {
    border-right: 2px solid;
    padding-right: var(--large-extra);
  }
}

@media (min-width: 1024px) {
  .footer-content-wrapper {
    flex-basis: auto;
    border-right: 2px solid;
    padding-right: var(--large);
  }
}

/* @media (min-width: 1280px) { } */
/* @media (min-width: 1536px) { } */
