.main-nav {
  background: var(--red-gradient);
  color: var(--surface);
  padding: var(--large-ultimate) var(--large);
}

.nav-wrapper {
  position: relative;
  display: flex;
  gap: var(--large);

  .search-widget {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.top-container,
.bottom-container,
.separator-img {
  display: none;
}

.nav-links {
  display: inline-block;
  position: relative;
  padding: var(--small) var(--medium);
  border-right: 1px solid var(--surface-shade);
  cursor: pointer;

  svg {
    margin-left: var(--small-extra);
    vertical-align: bottom;
  }

  &:last-child {
    border-right: 0;
  }

  &:hover {
    background-color: var(--red-shade);
    .sub-menu {
      display: block;
    }
  }
}

/* =============================================
 * Sub Menu
 * ===========================================*/

.sub-menu {
  display: none;
  z-index: 1;
  min-width: 180px;

  background-color: var(--surface);
  border-bottom-left-radius: var(--rounded-normal);
  border-bottom-right-radius: var(--rounded-normal);

  position: absolute;
  top: 100%;
  left: 0;

  a {
    color: var(--red-dim);
  }

  > li {
    cursor: pointer;
    padding: var(--small) var(--medium);

    &:hover {
      background-color: var(--red-shade-light);

      a {
        color: var(--surface);
      }

      &:last-child {
        border-bottom-left-radius: var(--rounded-normal);
        border-bottom-right-radius: var(--rounded-normal);
      }
    }
  }
}

/* =============================================
 * Responsive
 * ===========================================*/

/* @media (min-width: 475px) { } */

@media (min-width: 640px) {
  .bottom-container {
    display: flex;
    flex-direction: column;
    gap: var(--small);
  }

  .nav-heading {
    text-transform: uppercase;
    padding: var(--small) var(--medium);
  }
}

/* @media (min-width: 768px) { } */

@media (min-width: 1024px) {
  .nav-wrapper {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: var(--medium);
    row-gap: var(--large);

    .logo-wrapper {
      grid-row: span 2;
    }
  }

  .top-container {
    display: flex;
    justify-content: space-between;
  }

  .bottom-container {
    flex-direction: row;
    align-items: center;

    .separator-img {
      display: inline-block;
      width: 30px;
      height: 50px;
    }
  }
}

@media (min-width: 1280px) {
  .main-nav {
    padding: var(--large-ultimate) var(--side-gutter);
  }
}

/* @media (min-width: 1536px) { } */
