.main-nav {
  background: var(--red-gradient);
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--large-ultimate);
}

.main-nav,
.top-section {
  padding-left: var(--large);
  padding-right: var(--large);
}

.left-section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--small);
}

.primary-links {
  display: none;
}

.top-section svg {
  vertical-align: bottom;
}

.right-section {
  padding-block: var(--large-ultimate);
  display: inline-flex;
}

.top-section {
  background: var(--red);
  text-align: right;
  padding-top: var(--small);
}

.top-section > li {
  margin-left: var(--small);
  display: inline;
}

.secondary-links {
  display: none;
}

/* Responsive */

/* @media (min-width: 475px) { } */
/* @media (min-width: 640px) { } */
/* @media (min-width: 768px) { } */

@media (min-width: 1024px) {
  .primary-links {
    display: inline;
  }
}

@media (min-width: 1280px) {
  .main-nav,
  .top-section {
    padding-left: var(--side-gutter);
    padding-right: var(--side-gutter);
  }

  .secondary-links {
    display: inline-block;
  }
}

/* @media (min-width: 1536px) { } */
