.main-nav {
  background: var(--red-gradient);
  color: var(--surface);
  padding: var(--large-ultimate) var(--large);
}

.nav-wrapper {
  position: relative;
  display: flex;
  gap: var(--large);

  .search-widget {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.top-container,
.bottom-container,
.separator-img {
  display: none;
}

/* =============================================
 * Responsive
 * ===========================================*/

/* @media (min-width: 475px) { } */

@media (min-width: 640px) {
  .bottom-container {
    display: flex;
    flex-direction: column;
    gap: var(--small);
  }

  .nav-heading {
    text-transform: uppercase;
    padding: var(--small) var(--medium);
  }
}

/* @media (min-width: 768px) { } */

@media (min-width: 1024px) {
  .nav-wrapper {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: var(--medium);
    row-gap: var(--large);

    .logo-wrapper {
      grid-row: span 2;
    }
  }

  .top-container {
    display: flex;
    justify-content: space-between;
  }

  .bottom-container {
    flex-direction: row;
    align-items: center;

    .separator-img {
      display: inline-block;
      width: 30px;
      height: 50px;
    }
  }
}

@media (min-width: 1280px) {
  .main-nav {
    padding-inline: var(--side-gutter);
  }
}

/* @media (min-width: 1536px) { } */
