main {
  background-color: var(--surface);
  overflow: clip;
}

.breadcrumb {
  display: flex;
  align-items: flex-end;
  gap: 1em;
}

.btn-nav-sidebar {
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.grid-container {
  display: block;
  padding-bottom: var(--large);
}

.side-nav {
  display: none;
}

.main-content {
  overflow: auto;

  h3 {
    padding: var(--large) 0;
  }

  p {
    margin-bottom: var(--large-ultimate);
  }
}

/*
* Responsive
*/

/* @media (min-width: 475px) { } */
/* @media (min-width: 640px) { } */

@media (min-width: 768px) {
  .btn-nav-sidebar {
    display: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) auto;
    column-gap: var(--large-ultimate);
    padding-bottom: var(--large-ultimate);
  }

  .side-nav {
    display: block;
    position: relative;
    background-color: var(--red-dim);
    background-color: hsl(from var(--red-dim) h s l / 0.1);
    color: var(--neutral);
    fill: var(--neutral);
  }

  .nav-contents-wrapper {
    position: sticky;
    top: var(--large-ultimate);
    max-height: calc(100vh - var(--large-ultimate));
  }

  .side-nav-heading {
    padding: var(--large) var(--large-ultimate);
  }

  .side-nav--outer {
    padding: var(--medium) var(--large);

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: inherit;
    }

    svg {
      fill: inherit;
    }

    li {
      padding: var(--medium) var(--large);
    }
  }
}

/* @media (min-width: 1024px) { } */
/* @media (min-width: 1280px) { } */
