@import "/src/styles/base.css";
@import "/src/styles/components/header-type-2.css";
@import "/src/styles/components/mobile-nav.css";
@import "/src/styles/components/search.css";
@import "/src/styles/components/footer.css";

main {
  background: var(--surface);
}

/* HERO SECTION */
.hero {
  padding: 0 var(--side-gutter);
}

.hero svg {
  fill: var(--neutral);
}

.hero h1 {
  color: var(--neutral);
  margin-bottom: var(--large);
}

.admission-content {
  margin-bottom: var(--large-ultimate);
}

.admission-cards {
  display: flex;
  gap: var(--large-ultimate);
  flex-direction: column;
  justify-content: space-evenly;
}

.admission-card-img {
  margin-bottom: var(--medium);
}

.admission-card__title {
  margin-bottom: var(--small-extra);
}

.admission-card__subtitle {
  margin-bottom: var(--small);
}

.admission-card__list {
  margin-left: var(--medium);
}

.admission-card__list li {
  margin-bottom: var(--small-extra);
  list-style-type: disc;
  color: var(--red);
}

/* FAQ SECTION */
.faq {
  padding: var(--large-ultimate) var(--side-gutter);
  color: var(--neutral);
}

.faq svg {
  fill: var(--neutral);
}

.faq h2 {
  word-spacing: var(--small-extra);
  padding: var(--small-extra) 0;
  margin-bottom: var(--large);
}

.faq details {
  margin-bottom: var(--large);
  border: 2px solid var(--neutral);
  box-shadow: var(--drop-shadow);
}

.faq summary {
  padding-top: var(--small);
  padding-left: var(--large-ultimate);
  padding-right: var(--small-extra);
  padding-bottom: var(--small);
  background: var(--surface-mute);
  position: relative;
}

.faq summary::marker {
  content: none;
}

.faq summary::before {
  content: url(../../assets/svg/icon-plus.svg);
  height: var(--medium);
  width: var(--medium);
  position: absolute;
  left: var(--small);
  top: var(--small);
}

.faq summary::after {
  content: url(../../assets/svg/icon-plus.svg);
  height: var(--medium);
  width: var(--medium);
  position: absolute;
  right: var(--small);
}

.faq p {
  padding: var(--small) var(--large-extra);
  background: var(--surface-dim);
}

.faq details[open] summary::before {
  content: url(../../assets/svg/icon-cross.svg);
  height: var(--medium);
  width: var(--medium);
  position: absolute;
  left: var(--small);
  top: var(--small);
}

.faq details[open] summary::after {
  content: url(../../assets/svg/icon-cross.svg);
  height: var(--medium);
  width: var(--medium);
  position: absolute;
  right: var(--small);
}

/*
* Responsive
*/
/* @media (min-width: 475px) { } */

@media (min-width: 640px) {
  .admission-card {
    display: grid;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1.6em;
  }

  .admission-card-img {
    grid-row: span 3;
  }
}

/* @media (min-width: 768px) { } */

@media (min-width: 1024px) {
  .admission-cards {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .admission-card {
    display: block;
  }
}

/* @media (min-width: 1280px) { } */
