:root {
  /* Color styles */
  --surface: #ffffff;
  --surface-dim: #f5f5f5;
  --surface-mute: #9b9b9b;
  --surface-shade: #666666;
  --neutral: #141414;
  --red: #990000;
  --red-shade: #ff6666;
  --red-shade-light: #fab5b9;
  --red-dim: #661414;
  --red-muted: #7a1f1f;

  /* Gradients */
  --red-gradient: linear-gradient(
    180deg,
    var(--red) 0%,
    #6a0000 40%,
    var(--red-dim) 100%
  );

  --red-gradient-inverted: linear-gradient(
    0deg,
    var(--red) 0%,
    #6a0000 40%,
    var(--red-dim) 100%
  );

  --surface-gradient-horizontal: linear-gradient(
    90deg,
    #a8a8a8 0%,
    rgba(155, 155, 155, 0.7) 60%,
    rgba(155, 155, 155, 0) 100%
  );

  --surface-gradient-vertical: linear-gradient(
    360deg,
    #9b9b9b 0%,
    rgba(155, 155, 155, 0.7) 65%,
    rgba(155, 155, 155, 0) 100%
  );

  /* Text-size styles */
  /* base size: text---medium--bold (16px) */
  --heading---heading-1: 2.25rem;
  --heading---heading-2: 1.5rem;
  --text---large--bold: 1.12rem;
  --text---large: 1.12rem;
  --text---medium--bold: 1rem;
  --text---medium: 1rem;
  --text---small--bold: 0.88rem;
  --text---small: 0.88rem;
  --text---small-extra--bold: 0.75rem;
  --text---small-extra: 0.75rem;

  /* Effect styles */
  --drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --hero-inner-shadow: inset 0px 40px 40px rgba(0, 0, 0, 0.25),
    inset 0px -40px 40px rgba(0, 0, 0, 0.25);

  /* Sizes */
  --small-extra: 0.25rem;
  --small: 0.5rem;
  --medium: 0.75rem;
  --large: 1rem;
  --large-extra: 1.5rem;
  --large-ultimate: 2rem;
  --huge: 3rem;
  --huge-large: 4rem;
  --side-gutter: 5rem;

  /* Border radius */
  --rounded-normal: 4px;
}
