.blogs-events-section {
  background-color: var(--surface-dim);
}

.blogs-events-section-wrapper {
  max-width: 350px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: var(--large) var(--large-ultimate);
}

.blogs-section {
  grid-column-start: 1;
  grid-column-end: -1;
}

.events-section {
  grid-column-start: 1;
  grid-column-end: -1;
}

.section__title {
  padding: var(--medium) 0;
  margin-bottom: var(--large);
}

.section__title * {
  display: inline;
}

.section__title > h2 {
  color: var(--neutral);
}

.section__title > p {
  border-left: 1px solid var(--surface-mute);
  padding-left: var(--small);
  margin-left: var(--small);
  color: var(--red-dim);
}

.blogs-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--large);
  color: var(--neutral);
}

.blogs-cards img {
  width: 100%;
}

.blog-card-title {
  padding-top: var(--medium);
  padding-bottom: var(--small-extra);
}

.event {
  display: flex;
  gap: var(--medium);
  margin-bottom: var(--large-ultimate);
}

.event__date {
  width: 50px;
  height: 50px;
  background-color: var(--red-dim);
  color: var(--surface);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.event__desc p {
  margin-bottom: var(--small);
  color: var(--surface-shade);
}

.event__desc p:first-child {
  color: var(--neutral);
}

/* Responsive */

/* @media (min-width: 475px) { } */

/* @media (min-width: 640px) { } */

@media (min-width: 768px) {
  .blogs-events-section-wrapper {
    max-width: 1200px;
  }

  .blogs-cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .blogs-events-section-wrapper {
    grid-template-rows: none;
  }

  .blogs-section {
    grid-column-start: 1;
    grid-column-end: 7;
  }

  .events-section {
    grid-column-start: 7;
    grid-column-end: -1;
  }
}

/* @media (min-width: 1280px) { } */
/* @media (min-width: 1536px) { } */
