.classes-section {
  background: var(--surface-dim);
}

.classes-section svg {
  fill: var(--neutral);
}

.section__title {
  display: inline-block;
  color: var(--neutral);
  padding: var(--small-extra) 0;
}

.section__title-wrapper,
.classes-cards-wrapper {
  max-width: 350px;
  margin: 0 auto;
}

.classes-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--medium);
}

.class-cards {
  position: relative;
}

.class-cards img {
  max-width: 100%;
  box-shadow: var(--drop-shadow);
}

.class-cards p {
  display: inline-block;
}

.classes-info-wrapper {
  width: 100%;
  background: var(--surface-gradient-horizontal);
  padding-top: var(--small-extra);
  padding-right: var(--small-extra);
  padding-bottom: var(--small-extra);
  padding-left: var(--medium);
  position: absolute;
  bottom: 0;
}

/* Responsive */

/* @media (min-width: 475px) { } */

/* @media (min-width: 640px) { } */

@media (min-width: 768px) {
  .section__title-wrapper,
  .classes-cards-wrapper {
    max-width: 1200px;
  }

  .classes-cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* @media (min-width: 1024px) { } */

@media (min-width: 1280px) {
  .classes-cards-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
/* @media (min-width: 1536px) { } */
