@import "/src/styles/base.css";
@import "/src/styles/components/header-type-2.css";
@import "/src/styles/components/mobile-nav.css";
@import "/src/styles/components/search.css";
@import "/src/styles/components/footer.css";

main {
  background-color: var(--surface);
}

.breadcrumb,
.grid--main {
  margin-left: var(--side-gutter);
  margin-right: var(--side-gutter);
}

.grid--main {
  margin-bottom: var(--large);
  display: grid;
  grid-template-columns: 1fr 288px;
  grid-template-rows: min-content 1fr;
  gap: 12px;
}

.grid--main svg {
  fill: var(--neutral);
}

/* NEWS */
.news {
  background-color: var(--surface-dim);
  padding-left: var(--medium);
  padding-right: var(--medium);
  display: grid;
  grid-template-columns: 544px auto;
  grid-template-rows: auto 230px;
  gap: 16px;
}

.news > h2 {
  grid-column: 1 / -1;
  padding-top: var(--large-extra);
  padding-bottom: var(--medium);
}

.news-wrapper {
  position: relative;
  border-bottom: 2px solid var(--red);
  overflow: hidden;
}

.news-image {
  width: 544px;
  height: 230px;
}

.news-card-wrapper {
  position: relative;
  display: flex;
}

.news-card {
  position: absolute;
}

.news-text {
  position: absolute;
  bottom: 0;
  background: var(--surface-gradient-vertical);
  min-width: 544px;
  padding-left: var(--large);
  padding-bottom: var(--large);
  padding-top: var(--large-extra);
  z-index: 98;
}

.news-text p:first-child {
  margin-bottom: var(--medium);
}

.slider__btn {
  height: 36px;
  width: 36px;
  position: absolute;
  background-color: var(--surface-shade);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  top: 47%;
  z-index: 99;
}

.slider__btn svg {
  fill: var(--surface);
}

.slider__btn--left {
  left: var(--large);
  top: 50%;
  transform: translateY(-50%);
}

.slider__btn--right {
  right: var(--large);
  top: 50%;
  transform: translateY(-50%);
}

.news ul {
  overflow: hidden;
}

/* EVENTS */
.events-section {
  padding-left: var(--medium);
}

.section__title * {
  display: inline;
}

.section__title {
  padding-top: var(--large-extra);
  padding-bottom: var(--large-extra);
}

.events-section {
  grid-row: span 2;
  background-color: var(--surface-dim);
}

/* NOTICE */
.notice {
  background-color: var(--surface-dim);
  padding-left: var(--medium);
  padding-right: var(--medium);
}

.notice > h2 {
  padding-top: var(--large-extra);
  padding-bottom: var(--medium);
}

.notice ul .notice-item:last-child {
  border-bottom: 1px dashed #000;
}

.notice-item p {
  margin-bottom: var(--small);
}

.notice-item {
  border-top: 1px dashed #000;
  padding-top: var(--small);
  padding-bottom: var(--small);

  display: flex;
  gap: var(--small);
}

.notice-item > svg {
  fill: var(--surface-shade);
}
