.breadcrumb {
  padding-top: var(--small);
  padding-bottom: var(--large-extra);
  margin-left: var(--side-gutter);
  margin-right: var(--side-gutter);
}

.breadcrumb svg {
  vertical-align: bottom;
}

.breadcrumb-link {
  display: inline;
}

.breadcrumb-link a {
  color: var(--neutral);
}

.breadcrumb-link:first-child a {
  color: var(--red);
}

.breadcrumb-link:first-child svg {
  fill: var(--red);
}
